

<h1>  Welcome to {{title}} </h1>

<p>User is {{user.name}} {{user.age}}</p> 


<div *ngIf="displayEdit">
    Form
    <form (ngSubmit)="toggleEdit()">
        <label for="name"> Enter a Name </label>
        <input name="name" id="name" [(ngModel)]="user.name" />
        <br>
        <label for="age"> Enter a age </label>
        <input name="age" id="age" [(ngModel)]="user.age" />
        <br>
        <label for="favoriteColor"> Enter a Color </label>
        <input name="color" id="color" [(ngModel)]="user.favoriteColor" />
        
        

    </form>


</div>


<div *ngIf="!displayEdit">
    {{user.name}},
    {{user.age}},
    {{user.favoriteColor}}
</div>

<button (click)="toggleEdit()"> Toggle Edit</button>



